body {
	background-color: #f9f4f4;	
}

.wrap {
	width: 100%;
	max-width: 800px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	margin: 0 auto;
}

.wrap .title_container {
	background-color: #f0e4e4;
}

.wrap h3 {
	margin-bottom: 0px !important;
	margin-top: 10px;
}

.wrap .table-bordered th {
	background-color: #f0e4e4;
}

.wrap a {
	text-decoration: none;
}

.search {
	display: inline-block;
}